.Answer{
    background-color: #e9faf4;
    width: 1120px;
    height: 125px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    justify-content: space-between;
    margin: auto;
    border-radius: 15px;
    padding: 40px;

}